<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ t "mailers.tasks.batch-actions.confirm.title" }}</title>
  </head>
  <body>
    <h2>{{ t "mailers.tasks.batch-actions.confirm.header" }}</h2>
  </body>
</html>
