<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ t "mailers.tasks.new_task.title" }}</title>
  </head>
  <body>
    <h2>{{ t "mailers.tasks.new_task.header" }}</h2>
    <p>
      {{ tWithArgs "mailers.tasks.new_task.task_assigned" title=taskTitle deadline=taskDeadline }}
    </p>
    <p>
      <a href="localhost/tasks/{{taskId}}">Show task</a>
    </p>
  </body>
</html>
